@namespace CamcoTasks.Pages.RecurringTasks.ViewRecurringTasks
@using CamcoTasks.Pages.RecurringTasks.ViewRecurringTasks.Files
@using CamcoTasks.Library

<!-- File Modal view -->
<div class="modal fade bd-example-modal-xl" id="SingleFileModal" data-backdrop="static" tabindex="-1" role="dialog" 
aria-labelledby="SingleFileModalLabel" aria-hidden="true" style="z-index:4444; background-color: rgba(0, 0, 0, 0.80);">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SingleFileModalLabel">File</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseComponent">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                @if (TaskFilePath != null)
                {
                    <div class="col-md-4 m-auto">
                        <SingleFileViewComponent FilePath="@TaskFilePath" />
                    </div>
                }
                else
                {
                    <div class="col-md-4 m-auto">
                        <em class="text-center">NO FILE FOUND</em>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="row">
                        <div class="col-md-12 text-danger m-2 text-center">
                            <h4>* @ErrorMessage</h4>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" @onclick="CloseComponent">CLOSE</button>
            </div>
        </div>
    </div>
</div>
