<!--simple mail modal-->
<div class="modal fade" id="SimpleEmailModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="background-color: rgba(0, 0, 0, 0.80);">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SEND EMAIL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseComponent">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>EMAIL BODY NOTE</label>
                                <Syncfusion.Blazor.Inputs.SfTextBox @ref="SimpleEmailNoteRef" CssClass="BackgroundCustom"
                                                                    ID="OneTimeTaskSendMailId" HtmlAttributes="@htmlAttribute" Multiline="true" Placeholder="Enter Update Note"
                                                                    @bind-Value="RespondBody">
                                </Syncfusion.Blazor.Inputs.SfTextBox>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(EmailError))
                {
                    <div class="row">
                        <div class="col-md-12 text-danger m-2 text-center">
                            <h4>* @EmailError</h4>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" @onclick="CloseComponent"><i class="flaticon-cancel-12"></i>CANCEL</button>
                <button type="button" class="btn btn-primary"
                        @onclick="(() => SendTaskEmail())">
                    SEND EMAIL
                </button>
            </div>
        </div>
    </div>
</div>