<!--one time task delete modal-->
<div class="modal fade" id="deleteTask" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE TASK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseComponent">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <h4>DO YOU WANT TO DELETE THIS TASK ?</h4>
                <table class="table table-danger">
                    <tr>
                        <td>ID:</td>
                        <td>@TaskViewModel.Id</td>
                    </tr>
                    <tr>
                        <td>TASK TYPE:</td>
                        <td>@TaskViewModel.TaskType</td>
                    </tr>
                    <tr>
                        <td>DESCRIPTION:</td>
                        <td>@TaskViewModel.Description</td>
                    </tr>
                    <tr>
                        <td>PRIORITY:</td>
                        <td>@TaskViewModel.Priority</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" @onclick="CloseComponent"><i class="flaticon-cancel-12"></i> NO</button>
                <button type="button" data-dismiss="modal" class="btn btn-success"
                        @onclick="(async () => await DeleteTask())">
                    YES
                </button>
            </div>
        </div>
    </div>
</div>